@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Petrona:wght@600&display=swap');

:root {
  --main-color-light: #dcd8e8;
  --main-color-dark: #3c3848;
  --main-color-dark-lighter: #5a546c;
  --highlight-color: #40ffe8;
  --highlight-color-dark-lighter: #00c0a8;
  --highlight-color-dark: #008070;
  --highlight-color-dark-darker: #006054;
}

body {
  margin: 0;
  font-family: Nunito, 'SF Pro Rounded', 'Varela Round', 'Arial Rounded MT',
    sans-serif;
  letter-spacing: 1pt;
  font-size: 15pt;
  background-color: var(--main-color-light);
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav {
  background: linear-gradient(transparent, #b8b0d0);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: right;
  align-items: center;
}

/* Brand name */
h1 {
  font-family: monospace;
  font-size: 2em;
  margin-block-start: 0;
  padding-block-start: 0.67em;
  grid-column-start: 2;
}
h1 a {
  color: #000;
  font-weight: 500;
}
h1 .material-symbols-outlined {
  font-size: 1.2em;
  vertical-align: bottom;
}

nav li {
  margin: 40px;
}

.app {
  margin: 40px 0 0 0;
}

/* used for semantic HTML — no special formatting */
ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
}

article {
  border: none;
  border-radius: 12px;
  background: linear-gradient(
    var(--main-color-dark-lighter),
    var(--main-color-dark)
  );
  color: var(--main-color-light);
  /*  background: linear-gradient(#ecf2f4, #c8d4d8); */
  margin: 60px auto;
  max-width: 640px;
  min-height: 360px;
  padding: 1px;
}

a {
  text-decoration: none;
  color: var(--highlight-color-dark);
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 7%;
}
article a {
  font-weight: normal;
  color: #fff;
}

a.button {
  display: inline-block;
  padding: 0px 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(
    var(--highlight-color-dark-lighter),
    var(--highlight-color-dark-darker)
  );
  color: #fff;
  border-radius: 12px;
  transition: background 0.25s;
  background-size: 1px 80px;
  background-position: 0 -40px;
}
a.button:hover {
  text-decoration: none;
  background-position: 0 0;
}

/* Page header, Post title */
h2,
h3 {
  font-family: 'Petrona';
}
