@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Petrona:wght@600&display=swap');

:root {
  --main-color-light: #dcd8e8;
  --main-color-light-darker: #ccc4dc;
  --main-color-light-darker-2: #b8b0d0;
  --main-color-dark: #3c3848;
  --main-color-dark-lighter: #5a546c;
  --highlight-color: #40ffe8;
  --highlight-color-dark-lighter: #00c0a8;
  --highlight-color-dark: #008070;
  --highlight-color-dark-darker: #006054;
  --error-color: #c03000;
}

body {
  margin: 0;
  font-family: Nunito, 'SF Pro Rounded', 'Varela Round', 'Arial Rounded MT',
    sans-serif;
  letter-spacing: 1pt;
  font-size: 15pt;
  background-color: var(--main-color-light);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-size: 1.2em;
  vertical-align: bottom;
}

nav {
  background: linear-gradient(transparent, var(--main-color-light-darker-2));
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: right;
  align-items: center;
}

/* Brand name */
h1 {
  font-family: monospace;
  font-size: 2em;
  margin-block-start: 0;
  padding-block-start: 0.67em;
  grid-column-start: 2;
}
h1 a {
  color: #000;
  font-weight: 500;
}

nav li {
  margin: 0 40px 0 0;
  display: inline;
}

.app {
  margin: 40px 0 0 0;
}

/* used for semantic HTML — no special formatting */
ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
}

article,
main {
  border: none;
  border-radius: 12px;
  margin: 60px auto;
  max-width: 640px;
  box-sizing: border-box;
}

article {
  padding: 1px;
  background: linear-gradient(
    var(--main-color-dark-lighter),
    var(--main-color-dark)
  );
  color: var(--main-color-light);
  /*  background: linear-gradient(#ecf2f4, #c8d4d8); */
  min-height: 360px;
}

main {
  padding: 20px;
  background: linear-gradient(
    var(--main-color-light-darker),
    var(--main-color-light-darker-2)
  );
  color: #000;
}

a {
  text-decoration: none;
  color: var(--highlight-color-dark);
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 7%;
}
article a {
  font-weight: normal;
  color: #fff;
}

a.button,
button {
  display: inline-block;
  padding: 0px 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(
    var(--highlight-color-dark-lighter),
    var(--highlight-color-dark-darker)
  );
  color: #fff;
  border-radius: 12px;
  transition: background 0.25s;
  background-size: 1px 80px;
  background-position: 0 -40px;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: inherit;
}
a.button:hover,
button:hover {
  text-decoration: none;
  background-position: 0 0;
}

/* Page header, Post title */
h2,
h3 {
  font-family: 'Petrona';
}

form {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
}

.input-field {
  flex: 1;
}
.input-field:focus-within {
  color: var(--highlight-color-dark);
}
label {
  font-size: 0.8em;
  text-transform: uppercase;
  display: block;
  text-align: left;
}
textarea,
input[type='text'],
input[type='email'],
input[type='password'] {
  font-family: inherit;
  font-size: 1.3em;
  background-color: transparent;
  border-width: 0 0 3px;
  border-radius: 3px;
  border-color: var(--main-color-dark);
  box-sizing: border-box;
  outline: none;
  width: 100%;
}
textarea:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border-color: var(--highlight-color-dark);
}
input.invalid {
  border-color: var(--error-color);
}
.angry {
  font-size: 0.8em;
  color: var(--error-color);
  font-weight: bold;
}
